.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attr {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #4b8;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #4b8;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Hair.eot");
  src: local('Fira Sans Hair'), url("../fonts/fira/eot/FiraSans-Hair.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Hair.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Hair.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Hair.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HairItalic.eot");
  src: local('Fira Sans Hair Italic'), url("../fonts/fira/eot/FiraSans-HairItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HairItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HairItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HairItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLight.eot");
  src: local('Fira Sans UltraLight'), url("../fonts/fira/eot/FiraSans-UltraLight.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLight.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLight.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot");
  src: local('Fira Sans UltraLight Italic'), url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLightItalic.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Light.eot");
  src: local('Fira Sans Light'), url("../fonts/fira/eot/FiraSans-Light.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Light.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Light.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-LightItalic.eot");
  src: local('Fira Sans Light Italic'), url("../fonts/fira/eot/FiraSans-LightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-LightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-LightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Regular.eot");
  src: local('Fira Sans Regular'), url("../fonts/fira/eot/FiraSans-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Italic.eot");
  src: local('Fira Sans Regular Italic'), url("../fonts/fira/eot/FiraSans-Italic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Italic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Italic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Medium.eot");
  src: local('Fira Sans Medium'), url("../fonts/fira/eot/FiraSans-Medium.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Medium.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Medium.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-MediumItalic.eot");
  src: local('Fira Sans Medium Italic'), url("../fonts/fira/eot/FiraSans-MediumItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-MediumItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-MediumItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBold.eot");
  src: local('Fira Sans SemiBold'), url("../fonts/fira/eot/FiraSans-SemiBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot");
  src: local('Fira Sans SemiBold Italic'), url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Bold.eot");
  src: local('Fira Sans Bold'), url("../fonts/fira/eot/FiraSans-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-BoldItalic.eot");
  src: local('Fira Sans Bold Italic'), url("../fonts/fira/eot/FiraSans-BoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-BoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-BoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBold.eot");
  src: local('Fira Sans ExtraBold'), url("../fonts/fira/eot/FiraSans-ExtraBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot");
  src: local('Fira Sans ExtraBold Italic'), url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Heavy.eot");
  src: local('Fira Sans Heavy'), url("../fonts/fira/eot/FiraSans-Heavy.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Heavy.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Heavy.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HeavyItalic.eot");
  src: local('Fira Sans Heavy Italic'), url("../fonts/fira/eot/FiraSans-HeavyItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HeavyItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HeavyItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HeavyItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Regular.eot");
  src: local('Fira Mono'), url("../fonts/fira/eot/FiraMono-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Bold.eot");
  src: local('Fira Mono Bold'), url("../fonts/fira/eot/FiraMono-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  font: 400 1.1rem/1.6 Helvetica, Arial, sans-serif;
  color: #333;
}
.font-loaded-sans body {
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
}
iframe,
img,
button,
input[type=button],
.btn {
  border: 0;
}
.borderless-links a,
a.borderless-links,
a.borderless-link {
  border: 0;
}
.hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
strong {
  font-weight: 600;
}
code,
pre {
  font-size: 13px;
  font-family: Andale Mono, Monaco, Courier, monospace;
}
[data-is-mobile="true"] code,
[data-is-mobile="true"] pre {
  font-size: 8.5px;
}
.font-loaded-mono code,
.font-loaded-mono pre {
  font-family: Fira Mono, Andale Mono, Monaco, Courier, monospace;
}
p code,
li code,
dd code {
  font-weight: 600;
  padding: 0 0.25ch;
}
[data-page-type="community"] li code {
  font-weight: 500;
}
p {
  word-spacing: 0.05em;
}
h1 {
  color: #305f83;
}
h2,
h3,
h4 {
  color: #2c3e50;
}
h3 {
  font-weight: 400;
}
h2,
h4 {
  font-weight: 500;
}
.btn {
  cursor: pointer;
  font: inherit;
}
.copy__wrap {
  max-width: 700px;
}
.sidebar__wrap,
.copy__wrap {
  padding: 40px;
}
.nav,
.subnav {
  list-style-type: none;
}
.copy a.btn {
  font-size: 0.9em;
  color: #fff;
  margin: 0.2em 0;
  max-width: 180px;
  text-align: center;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
}
.copy img {
  max-width: 100%;
}
.copy span.light {
  color: #7f8c8d;
}
.copy span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
.copy h2 {
  margin: 1.5em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.copy h3 {
  color: #476582;
}
.copy h3,
.copy h3 code {
  font-size: 1.3rem;
}
.copy h3,
.copy h4 {
  margin: 2em 0 0.25em;
  position: relative;
}
.copy figure,
.copy p,
.copy ul,
.copy ol,
.copy table {
  margin: 15px 0;
}
.copy figure:last-child + .footer,
.copy p:last-child + .footer,
.copy ul:last-child + .footer,
.copy ol:last-child + .footer,
.copy table:last-child + .footer {
  margin-bottom: 0;
}
.copy p,
.copy ul,
.copy ol,
.copy table {
  line-height: 1.6;
}
.copy ul,
.copy ol {
  padding-left: 1.5em;
}
.copy blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #4b8;
}
.copy blockquote p {
  font-weight: 400;
  margin-left: 0;
}
.copy iframe {
  margin: 1em 0;
}
.copy p + h2,
.copy table + table {
  margin-top: 1.5em;
}
.copy .tip {
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #ef2d5e;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 1.5em 2em;
  position: relative;
}
.copy .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  background-color: #ef2d5e;
  color: #fff;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}
.copy .tip.tip--dark {
  background-color: rgba(0,0,0,0.5);
  border-left-color: rgba(239,45,94,0.5);
}
.copy .tip.tip--dark:before {
  background-color: #ef2d5e;
  border: 2px solid #000;
  color: #fff;
  left: -14px;
}
.copy .tip.tip--thin {
  font-size: 0.9rem;
  padding: 1rem 2rem;
}
.copy .tip.tip--thin:before {
  top: 0.75rem;
}
.copy .tip p:first-child {
  margin-top: 0;
}
.copy .tip p:last-child {
  margin-bottom: 0;
}
.copy ul {
  list-style: disc;
  margin-left: 1em;
  padding-left: 1em;
}
.copy ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.copy ol {
  list-style: decimal;
  margin-left: 1em;
  padding-left: 1em;
}
.copy ol ol {
  list-style: circle;
}
.copy li + li,
.copy ul ul li,
.copy ol ol li {
  margin-top: 0.35rem;
}
.logo__wordmark {
  background: url("images/aframe-logo-152.png") no-repeat;
  display: block;
  height: 31px;
  margin-bottom: 30px;
  text-indent: -9999px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.c:after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 800px) {
  .sidebar__wrap,
  .copy__wrap {
    padding: 20px;
  }
  .logo__wordmark {
    margin-bottom: 20px;
  }
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Hair.eot");
  src: local('Fira Sans Hair'), url("../fonts/fira/eot/FiraSans-Hair.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Hair.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Hair.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Hair.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HairItalic.eot");
  src: local('Fira Sans Hair Italic'), url("../fonts/fira/eot/FiraSans-HairItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HairItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HairItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HairItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLight.eot");
  src: local('Fira Sans UltraLight'), url("../fonts/fira/eot/FiraSans-UltraLight.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLight.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLight.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot");
  src: local('Fira Sans UltraLight Italic'), url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLightItalic.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Light.eot");
  src: local('Fira Sans Light'), url("../fonts/fira/eot/FiraSans-Light.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Light.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Light.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-LightItalic.eot");
  src: local('Fira Sans Light Italic'), url("../fonts/fira/eot/FiraSans-LightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-LightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-LightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Regular.eot");
  src: local('Fira Sans Regular'), url("../fonts/fira/eot/FiraSans-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Italic.eot");
  src: local('Fira Sans Regular Italic'), url("../fonts/fira/eot/FiraSans-Italic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Italic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Italic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Medium.eot");
  src: local('Fira Sans Medium'), url("../fonts/fira/eot/FiraSans-Medium.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Medium.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Medium.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-MediumItalic.eot");
  src: local('Fira Sans Medium Italic'), url("../fonts/fira/eot/FiraSans-MediumItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-MediumItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-MediumItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBold.eot");
  src: local('Fira Sans SemiBold'), url("../fonts/fira/eot/FiraSans-SemiBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot");
  src: local('Fira Sans SemiBold Italic'), url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Bold.eot");
  src: local('Fira Sans Bold'), url("../fonts/fira/eot/FiraSans-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-BoldItalic.eot");
  src: local('Fira Sans Bold Italic'), url("../fonts/fira/eot/FiraSans-BoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-BoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-BoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBold.eot");
  src: local('Fira Sans ExtraBold'), url("../fonts/fira/eot/FiraSans-ExtraBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot");
  src: local('Fira Sans ExtraBold Italic'), url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Heavy.eot");
  src: local('Fira Sans Heavy'), url("../fonts/fira/eot/FiraSans-Heavy.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Heavy.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Heavy.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HeavyItalic.eot");
  src: local('Fira Sans Heavy Italic'), url("../fonts/fira/eot/FiraSans-HeavyItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HeavyItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HeavyItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HeavyItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Regular.eot");
  src: local('Fira Mono'), url("../fonts/fira/eot/FiraMono-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Bold.eot");
  src: local('Fira Mono Bold'), url("../fonts/fira/eot/FiraMono-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
code,
pre,
.example__viewsource,
.sidebar .page-title,
.menu-item a {
  font-family: Andale Mono, Monaco, Courier, monospace;
}
.font-loaded-mono code,
.font-loaded-mono pre,
.font-loaded-mono .example__viewsource,
.font-loaded-mono .sidebar .page-title,
.font-loaded-mono .menu-item a {
  font-family: Fira Mono, Andale Mono, Monaco, Courier, monospace;
}
.hidden {
  display: !important;
}
em {
  color: #7f8c8d;
}
html[data-is-home="true"] {
  min-width: 1000px;
}
body {
  color: #fff;
}
a {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
a:hover {
  border-bottom-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.75);
}
a:active,
a.click {
  border-bottom-color: rgba(255,255,255,0.5);
  color: #fff;
}
ul {
  list-style-type: none;
}
.logo__wordmark {
  background: url("images/aframe-logo-152.png") no-repeat;
}
.sidebar {
  background: #000000;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  width: 260px;
}
.sidebar::-webkit-scrollbar {
  width: 0 !important;
}
.sidebar .page-title {
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  letter-spacing: 0.02em;
}
.main {
  background: #ef2d5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.sidebar,
.content {
  position: relative;
}
.sidebar {
  max-width: 400px;
  overflow-x: hidden;
}
.sidebar__wrap {
  height: 100vh;
  position: relative;
  overflow-y: auto;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.example__controls {
  position: absolute;
  text-transform: uppercase;
  top: 5px;
  right: 5px;
  z-index: 2;
  font-size: 12px;
  line-height: 1.5;
}
.example__controls a {
  background: rgba(0,0,0,0.35);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}
.example__controls a:active,
.example__controls a:hover {
  background-color: #ef2d5e;
}
.aframe-animation .example__controls {
  display: none;
}
[data-is-mobile="true"] .example__controls {
  display: none;
}
.page__title {
  line-height: 1.3;
  font-size: 36px;
  font-weight: 600;
}
.subnav-link {
  font-size: 16px;
  font-weight: 300;
  margin-left: -3px;
  padding: 2px 4px 2px 3px;
  display: block;
  -webkit-transition: 0.05s color ease;
  transition: 0.05s color ease;
  color: #fff;
  width: 100%;
}
.subnav-link:hover {
  background-color: rgba(0,0,0,0.05);
  color: #fff;
}
.subnav-link:active,
.subnav-link.click {
  background-color: rgba(0,0,0,0.5);
}
.subnav-link.current,
.subnav-link.current:hover {
  font-weight: 500;
  color: #fff;
}
.example-nav {
  margin-top: 3rem;
}
.example-nav-link {
  border: 0;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  width: 50%;
}
.example-nav-link span {
  display: none;
}
.example-nav-next {
  text-align: right;
}
/*
// Use this version if adding to side bar
.credits
    border-top 1px dashed rgba(255,255,255,0.5)
    background url("../images/mozvr-mozilla.svg") 100% 50% no-repeat
    background-size 100% 100%
    height 60px
    padding-top 20px
    margin 40px 0 20px
*/
.credits {
  background: url("../images/mozvr-white.svg") 45% 60% no-repeat;
  background-size: 80% 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 90px;
  margin: 0px 20px 20px;
}
.credits:hover {
  background-color: rgba(0,0,0,0.1);
}
.examples-subnav {
  margin-top: 0.5rem;
}
.btn-index {
  color: #fff;
}
.content--body {
  height: 100%;
}
.content--examples .content--body {
  background: #dadada;
}
.content--index {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content--index .slogan {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}
.content--index .intro {
  color: #fff;
  font-size: 16.5px;
  font-weight: 300;
  line-height: 1.55;
  margin-top: 10px;
  width: 350px;
}
.content--index .disclaimer {
  color: rgba(255,255,255,0.5);
}
.menu {
  margin-bottom: 38px;
}
.menu-item {
  display: inline-block;
}
.menu-item a {
  text-transform: uppercase;
  color: rgba(0,0,0,0.75);
  margin-right: 20px;
  border: none;
}
.menu-item a:hover {
  color: #000;
  background-color: rgba(0,0,0,0.02);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.get-started {
  background-color: #fff;
  border: 3px solid #fff;
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-top: 20px;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
}
.get-started:hover {
  background-color: #fff;
  color: #ef2d5e;
}
.get-started:active {
  opacity: 0.8;
}
.mobile-get-started {
  display: none;
}
@media screen and (max-width: 399px) {
  #logo {
    max-width: 40vw;
  }
}
@media screen and (min-width: 480px) {
  .example__controls {
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 800px) {
  .example__controls {
    top: 30px;
    right: 30px;
  }
}
@media only screen and (max-device-width: 736px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}
[data-is-android="true"] [data-supports-android="false"],
[data-is-ios="true"] [data-supports-ios="false"] {
  display: none !important;
}
.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-center {
  background-color: #24caff;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100vh;
  width: 100%;
}
.content--index .copy__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 440px;
}
.home-feature-links {
  display: none;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
}
.home-feature-links li {
  margin-left: -3px;
  padding: 2px 4px 2px 3px;
  text-transform: uppercase;
}
.home-feature-links li:hover {
  background-color: rgba(0,0,0,0.05);
}
.home-feature-links a {
  border: 0;
  color: #fff;
  display: block;
}
[data-is-mobile="false"] .home-feature-links {
  display: block;
}
.example-tracked-controllers {
  display: inline-block;
  height: 18px;
  left: 1px;
  position: relative;
  top: 4px;
  width: 18px;
}
