.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attr {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #4b8;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #4b8;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Hair.eot");
  src: local('Fira Sans Hair'), url("../fonts/fira/eot/FiraSans-Hair.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Hair.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Hair.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Hair.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HairItalic.eot");
  src: local('Fira Sans Hair Italic'), url("../fonts/fira/eot/FiraSans-HairItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HairItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HairItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HairItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLight.eot");
  src: local('Fira Sans UltraLight'), url("../fonts/fira/eot/FiraSans-UltraLight.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLight.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLight.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot");
  src: local('Fira Sans UltraLight Italic'), url("../fonts/fira/eot/FiraSans-UltraLightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-UltraLightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-UltraLightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-UltraLightItalic.ttf") format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Light.eot");
  src: local('Fira Sans Light'), url("../fonts/fira/eot/FiraSans-Light.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Light.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Light.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-LightItalic.eot");
  src: local('Fira Sans Light Italic'), url("../fonts/fira/eot/FiraSans-LightItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-LightItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-LightItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Regular.eot");
  src: local('Fira Sans Regular'), url("../fonts/fira/eot/FiraSans-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Italic.eot");
  src: local('Fira Sans Regular Italic'), url("../fonts/fira/eot/FiraSans-Italic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Italic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Italic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Medium.eot");
  src: local('Fira Sans Medium'), url("../fonts/fira/eot/FiraSans-Medium.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Medium.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Medium.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-MediumItalic.eot");
  src: local('Fira Sans Medium Italic'), url("../fonts/fira/eot/FiraSans-MediumItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-MediumItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-MediumItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBold.eot");
  src: local('Fira Sans SemiBold'), url("../fonts/fira/eot/FiraSans-SemiBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot");
  src: local('Fira Sans SemiBold Italic'), url("../fonts/fira/eot/FiraSans-SemiBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-SemiBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-SemiBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-SemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Bold.eot");
  src: local('Fira Sans Bold'), url("../fonts/fira/eot/FiraSans-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-BoldItalic.eot");
  src: local('Fira Sans Bold Italic'), url("../fonts/fira/eot/FiraSans-BoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-BoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-BoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBold.eot");
  src: local('Fira Sans ExtraBold'), url("../fonts/fira/eot/FiraSans-ExtraBold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBold.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBold.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot");
  src: local('Fira Sans ExtraBold Italic'), url("../fonts/fira/eot/FiraSans-ExtraBoldItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-ExtraBoldItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-ExtraBoldItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-Heavy.eot");
  src: local('Fira Sans Heavy'), url("../fonts/fira/eot/FiraSans-Heavy.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-Heavy.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-Heavy.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Fira Sans;
  src: url("../fonts/fira/eot/FiraSans-HeavyItalic.eot");
  src: local('Fira Sans Heavy Italic'), url("../fonts/fira/eot/FiraSans-HeavyItalic.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraSans-HeavyItalic.woff2") format('woff2'), url("../fonts/fira/woff/FiraSans-HeavyItalic.woff") format('woff'), url("../fonts/fira/ttf/FiraSans-HeavyItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Regular.eot");
  src: local('Fira Mono'), url("../fonts/fira/eot/FiraMono-Regular.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Regular.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Regular.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Fira Mono;
  src: url("../fonts/fira/eot/FiraMono-Bold.eot");
  src: local('Fira Mono Bold'), url("../fonts/fira/eot/FiraMono-Bold.eot") format('embedded-opentype'), url("../fonts/fira/woff2/FiraMono-Bold.woff2") format('woff2'), url("../fonts/fira/woff/FiraMono-Bold.woff") format('woff'), url("../fonts/fira/ttf/FiraMono-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  font: 400 1.1rem/1.6 Helvetica, Arial, sans-serif;
  color: #333;
}
.font-loaded-sans body {
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
}
iframe,
img,
button,
input[type=button],
.btn {
  border: 0;
}
.borderless-links a,
a.borderless-links,
a.borderless-link {
  border: 0;
}
.hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
strong {
  font-weight: 600;
}
code,
pre {
  font-size: 13px;
  font-family: Andale Mono, Monaco, Courier, monospace;
}
[data-is-mobile="true"] code,
[data-is-mobile="true"] pre {
  font-size: 8.5px;
}
.font-loaded-mono code,
.font-loaded-mono pre {
  font-family: Fira Mono, Andale Mono, Monaco, Courier, monospace;
}
p code,
li code,
dd code {
  font-weight: 600;
  padding: 0 0.25ch;
}
[data-page-type="community"] li code {
  font-weight: 500;
}
p {
  word-spacing: 0.05em;
}
h1 {
  color: #305f83;
}
h2,
h3,
h4 {
  color: #2c3e50;
}
h3 {
  font-weight: 400;
}
h2,
h4 {
  font-weight: 500;
}
.btn {
  cursor: pointer;
  font: inherit;
}
.copy__wrap {
  max-width: 700px;
}
.sidebar__wrap,
.copy__wrap {
  padding: 40px;
}
.nav,
.subnav {
  list-style-type: none;
}
.copy a.btn {
  font-size: 0.9em;
  color: #fff;
  margin: 0.2em 0;
  max-width: 180px;
  text-align: center;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
}
.copy img {
  max-width: 100%;
}
.copy span.light {
  color: #7f8c8d;
}
.copy span.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
}
.copy h2 {
  margin: 1.5em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.copy h3 {
  color: #476582;
}
.copy h3,
.copy h3 code {
  font-size: 1.3rem;
}
.copy h3,
.copy h4 {
  margin: 2em 0 0.25em;
  position: relative;
}
.copy figure,
.copy p,
.copy ul,
.copy ol,
.copy table {
  margin: 15px 0;
}
.copy figure:last-child + .footer,
.copy p:last-child + .footer,
.copy ul:last-child + .footer,
.copy ol:last-child + .footer,
.copy table:last-child + .footer {
  margin-bottom: 0;
}
.copy p,
.copy ul,
.copy ol,
.copy table {
  line-height: 1.6;
}
.copy ul,
.copy ol {
  padding-left: 1.5em;
}
.copy blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #4b8;
}
.copy blockquote p {
  font-weight: 400;
  margin-left: 0;
}
.copy iframe {
  margin: 1em 0;
}
.copy p + h2,
.copy table + table {
  margin-top: 1.5em;
}
.copy .tip {
  background-color: #f8f8f8;
  border-bottom-right-radius: 2px;
  border-left: 4px solid #ef2d5e;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 1.5em 2em;
  position: relative;
}
.copy .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  background-color: #ef2d5e;
  color: #fff;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
}
.copy .tip.tip--dark {
  background-color: rgba(0,0,0,0.5);
  border-left-color: rgba(239,45,94,0.5);
}
.copy .tip.tip--dark:before {
  background-color: #ef2d5e;
  border: 2px solid #000;
  color: #fff;
  left: -14px;
}
.copy .tip.tip--thin {
  font-size: 0.9rem;
  padding: 1rem 2rem;
}
.copy .tip.tip--thin:before {
  top: 0.75rem;
}
.copy .tip p:first-child {
  margin-top: 0;
}
.copy .tip p:last-child {
  margin-bottom: 0;
}
.copy ul {
  list-style: disc;
  margin-left: 1em;
  padding-left: 1em;
}
.copy ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
.copy ol {
  list-style: decimal;
  margin-left: 1em;
  padding-left: 1em;
}
.copy ol ol {
  list-style: circle;
}
.copy li + li,
.copy ul ul li,
.copy ol ol li {
  margin-top: 0.35rem;
}
.logo__wordmark {
  background: url("../images/aframe-name-pink.svg") no-repeat;
  display: block;
  height: 31px;
  margin-bottom: 30px;
  text-indent: -9999px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.c:after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (max-width: 800px) {
  .sidebar__wrap,
  .copy__wrap {
    padding: 20px;
  }
  .logo__wordmark {
    margin-bottom: 20px;
  }
}
.mobile-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ef2d5e;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.9;
  padding-left: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
}
@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}
.mobile-header h1 {
  white-space: nowrap;
}
.mobile-header h1 a {
  border: none;
  cursor: hover;
}
.mobile-header h1 a,
.mobile-header #sidebar-toggle,
.mobile-header span {
  color: #fafafa;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
}
.mobile-header #sidebar-toggle {
  border-bottom: none;
  font-size: 26px;
  text-decoration: none;
}
.sidebar {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 40px;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translate(-280px, 0);
  -webkit-transform: translate(-280px, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  visibility: hidden;
  width: 280px;
  z-index: 8;
}
.sidebar.sidebar-open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media (min-width: 768px) {
  .sidebar {
    background: none;
    box-shadow: none;
    position: fixed;
    padding-right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
  }
}
.page__section,
.section-title,
.install-note,
.mobile-nav-btn,
.nav-item {
  font-family: Andale Mono, Monaco, Courier, monospace;
}
.font-loaded-mono .page__section,
.font-loaded-mono .section-title,
.font-loaded-mono .install-note,
.font-loaded-mono .mobile-nav-btn,
.font-loaded-mono .nav-item {
  font-family: Fira Mono, Andale Mono, Monaco, Courier, monospace;
}
.page__title {
  color: #ef2d5e;
  font: 300 36px/1.3 Helvetica, Arial, sans-serif;
  margin: -7px 0 20px;
}
h2.post__heading {
  margin: 0;
}
.font-loaded-sans .page__title {
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
}
a {
  border-bottom: 1px solid rgba(53,196,232,0.15);
  color: #1497b8;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
}
a:hover {
  border-bottom-color: rgba(53,196,232,0.3);
  color: #0d5e73;
}
a:active,
a.click {
  border-bottom-color: rgba(53,196,232,0.6);
  color: rgba(53,196,232,0.9);
  top: 1px;
  left: 0.5px;
}
.copy p a {
  margin: 0 1px;
}
.nav {
  border-top: 1px dashed rgba(0,0,0,0.1);
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  margin-bottom: 25px;
  padding: 25px 0;
}
.nav-link {
  color: rgba(0,0,0,0.35);
  display: block;
  padding: 0.25rem 0;
  -webkit-transition: 0.05s color ease;
  transition: 0.05s color ease;
}
.nav-link:hover {
  color: rgba(0,0,0,0.75);
}
.nav-link:active {
  color: rgba(0,0,0,0.85);
}
.nav-link.current,
.nav-link.active,
.nav-link.current:hover,
.nav-link.active:hover {
  color: #ef2d5e;
  font-weight: 600;
}
.nav-link-disabled {
  pointer-events: none;
}
.nav-item {
  text-transform: uppercase;
}
.nav-item:first-child .nav-link {
  padding-top: 0;
}
.nav-item:last-child .nav-link {
  padding-bottom: 0;
}
.subnav-link {
  display: block;
  color: rgba(0,0,0,0.35);
  line-height: 1.8;
  text-indent: -10px;
  padding-left: 10px;
  -webkit-transition: 0.05s color ease;
  transition: 0.05s color ease;
  width: 100%;
}
.subnav-link:hover {
  color: rgba(0,0,0,0.75);
}
.subnav-link:active {
  color: rgba(0,0,0,0.85);
}
.subnav-link.current,
.subnav-link.active,
.subnav-link.current:hover,
.subnav-link.active:hover {
  color: #333;
  font-weight: 500;
}
@media (min-width: 768px) {
  .subnav-link {
    line-height: 1.6;
  }
}
.example__iframe {
  height: 100vh;
  width: 100%;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .content {
    padding-left: 280px;
    padding-top: 0;
  }
}
.copy .footnote {
  border-top: 2px solid #eee;
  clear: both;
  color: #999;
  font-size: 0.8rem;
  margin-top: 30px;
}
.copy .footnote br {
  display: none;
}
.copy .footnote .github-file-link {
  margin-left: 0.5rem;
}
.guide-links {
  margin-top: 30px;
}
.copy__wrap > table {
  border-collapse: collapse;
  width: 100%;
}
.copy__wrap > table th,
.copy__wrap > table td {
  padding: 4px 8px;
}
.copy__wrap > table th {
  background: #2ac;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  white-space: nowrap;
}
.copy__wrap > table th + th {
  border-left: 1px solid rgba(255,255,255,0.1);
}
.copy__wrap > table td {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  font-size: 12px;
  vertical-align: top;
}
.copy__wrap > table tr:not(:last-child) td {
  border-bottom: 1px solid #eee;
}
.page__section > p {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.page__section > p a {
  color: #7f8c8d;
  display: block;
}
.section-title,
.subnav-label {
  font-size: 11px;
  line-height: 1.2;
  padding: 5px 0 10px;
  text-transform: uppercase;
}
.section-title-active {
  font-weight: 600;
}
.section-title-link {
  display: block;
  margin: -5px 0 -10px;
  padding: 5px 0 10px;
}
.section-subnav {
  margin-bottom: 10px;
}
.post__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 0 25px -1px;
}
.post__projects a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  height: 160px;
  margin-bottom: 4px;
  width: 50%;
}
.post__projects a:hover {
  border-color: #35c5e9;
}
.post__projects-text li p {
  display: inline;
}
.post__projects-text .blog-attribution {
  border: none;
  color: #333;
}
.post__timestamp {
  font-weight: 500;
}
.post__author:before {
  content: "\00a0|\00a0";
}
.post__metadata {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.post__metadata p {
  margin: 0;
}
.content--blog {
  font-size: 17px;
}
.content--blog .page__section {
  margin-top: 0;
}
.content--blog .copy__wrap p {
  line-height: 1.7;
}
.content--blog h1 {
  margin-bottom: 0;
}
.content--blog h1 + .post--listing {
  margin-top: 9px /* To align the borders nicely since there's no visible <h1>. */;
}
.post--listing + .post--listing {
  margin-top: 30px;
}
.post--listing .post__metadata p {
  margin: 20px 0 0;
}
/* Show only the first two thumbnails/previews. */
.post--listing .post__projects a:nth-child(2) ~ a {
  display: none;
}
.post__image {
  display: block;
  margin-top: 20px;
}
.post .guide-links .float-right {
  text-align: right;
}
.post .guide-links span {
  max-width: 40%;
}
.section-title-active {
  cursor: pointer;
}
.section-title-link-active {
  cursor: pointer;
  pointer-events: none;
}
.section-title {
  margin-top: 15px;
}
.subnav-item + .subnav-item {
  margin-top: 0.25rem;
}
.highlight {
  position: relative;
  background-color: #f8f8f8;
  padding: 0.2em 0.2em 0.1em;
  line-height: 1.1em;
  border-radius: 2px;
  overflow-x: auto;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}
.highlight.html:after,
.highlight.js:after,
.highlight.bash:after,
.highlight.css:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
.highlight.html:after {
  content: 'HTML';
}
.highlight.js:after {
  content: 'JS';
}
.highlight.bash:after {
  content: 'Shell';
}
.highlight.css:after {
  content: 'CSS';
}
.github-file-link {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-transition: 0.05s ease;
  transition: 0.05s ease;
  color: #666;
  display: inline-block;
  padding: 0.25rem 1rem;
}
.github-file-link:after {
  background: url("../images/github-icon.svg") no-repeat;
  content: '';
  display: inline-block;
  margin-left: 0.5em;
  opacity: 0.5;
  height: 14px;
  -webkit-transition: 0.05s opacity ease;
  transition: 0.05s opacity ease;
  vertical-align: middle;
  width: 12px;
}
.github-file-link:hover,
.github-file-link:active {
  border-color: #bbb;
  color: #333;
}
.github-file-link:hover:after,
.github-file-link:active:after {
  opacity: 1;
}
.github-file-link:active {
  background: rgba(0,0,0,0.1);
  opacity: 0.5;
}
.copy a.btn {
  background-color: #5392c0;
  border-bottom: 2px solid #3c78a5;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: Fira Mono, Andale Mono, Monaco, Courier, monospace;
  margin: 5px 0;
  padding: 12px 24px;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
.copy a.btn.btn-download {
  padding: 12px 8px;
  min-width: 220px;
}
.copy a.btn:hover {
  background-color: #609ac5;
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
  -webkit-transition: none;
  transition: none;
}
.copy a.btn:active,
.copy a.btn.click {
  background-color: #3c78a5;
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
}
.copy a.btn span {
  font-size: 0.8rem;
  font-weight: 300;
}
.copy p br ~ a.button {
  margin-top: 10px;
}
.install-note {
  color: #999;
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 10px;
}
.install-note:after {
  display: block;
  content: "";
}
.content h2[id],
.content h3[id],
.content h4[id],
.content h5[id],
.content h6[id],
.content .copy__wrap > table[id] tr th:first-child,
.content .copy__wrap > table tr[id] td:first-child {
  cursor: pointer;
  position: relative;
}
.content h2[id]:before,
.content h3[id]:before,
.content h4[id]:before,
.content h5[id]:before,
.content h6[id]:before,
.content .copy__wrap > table[id] tr th:first-child:before,
.content .copy__wrap > table tr[id] td:first-child:before {
  border-bottom: 1px solid #fff;
  color: #ccc;
  content: "";
  height: 100%;
  left: -1.5rem;
  position: absolute;
  text-indent: 0;
  width: 1.5rem;
}
.content h2[id]:target:before,
.content h3[id]:target:before,
.content h4[id]:target:before,
.content h5[id]:target:before,
.content h6[id]:target:before,
.content .copy__wrap > table[id] tr th:first-child:target:before,
.content .copy__wrap > table tr[id] td:first-child:target:before,
.content h2[id]:hover:before,
.content h3[id]:hover:before,
.content h4[id]:hover:before,
.content h5[id]:hover:before,
.content h6[id]:hover:before,
.content .copy__wrap > table[id] tr th:first-child:hover:before,
.content .copy__wrap > table tr[id] td:first-child:hover:before {
  content: "#";
}
.content h2[id]:hover:before,
.content h3[id]:hover:before,
.content h4[id]:hover:before,
.content h5[id]:hover:before,
.content h6[id]:hover:before,
.content .copy__wrap > table[id] tr th:first-child:hover:before,
.content .copy__wrap > table tr[id] td:first-child:hover:before {
  color: #aaa;
}
#toc + ul a {
  border-bottom: 0;
}
video {
  max-width: 100%;
}
.post img {
  max-height: 320px;
}
.docs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .docs-header {
    display: block;
  }
}
.docs-search-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
  max-width: 100%;
}
.docs-search-wrapper .stackoverflow-link {
  display: none;
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .docs-search-wrapper .stackoverflow-link {
    display: block;
  }
}
body:not([data-page-layout="docs"]) .docs-search-wrapper {
  display: none !important;
}
.docs-search-docs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}
.docs-header + blockquote {
  margin: 4em 0 2em;
}
.blog-subnav a {
  font-size: 15px;
  line-height: 1.8;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[data-is-mobile="true"] #docs-version {
  border: 1px solid #ccc;
}
@media (min-width: 768px) {
  [data-page-layout="docs"] .page__title {
    max-width: 62%;
  }
}
@media screen and (max-width: 800px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 100%;
  }
  .copy .footnote br {
    display: inline-block;
  }
  .copy .footnote .github-file-link {
    margin-left: 0;
  }
  .content--structured h2[id]:before,
  .content--structured h3[id]:before,
  .content--structured h4[id]:before,
  .content--structured h5[id]:before,
  .content--structured h6[id]:before,
  .content--structured .copy__wrap > table[id] tr th:first-child:before,
  .content--structured .copy__wrap > table tr[id] td:first-child:before {
    left: -1rem;
  }
}
.tweets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .tweets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tweets .twitter-tweet {
    width: 49% !important;
  }
}
@media screen and (min-width: 1100px) {
  .tweets {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tweets .twitter-tweet {
    margin-right: 10px;
    width: 32% !important;
  }
}
@media screen and (min-width: 1350px) {
  .tweets .twitter-tweet {
    width: 24% !important;
  }
}
.post--listing .tweets .twitter-tweet {
  width: 48% !important;
}
.content--awoa .copy__wrap {
  max-width: 100%;
}
.content--awoa .copy__wrap p {
  max-width: 700px;
}
